extends layout

block content
  h1= title
  p Welcome to #{title}
  -if (session.usuario)
    p Bienvenido #{session.usuario.nombres} #{session.usuario.apellidos}
    a(href="/auth/logout") cerrar sesion
  -else 
    p Aun no a iniciado session
    a(href="/auth/login") iniciar sesion
